
# Temporary and output files
*.typ
**/*.pdf
*.png
*.svg
*.html
*.docx
*_cache/
*_files/
/.luarc.json
.Rproj.user
/.quarto/

# Allow these in online docs
!docs/**/*_files/
!docs/**/*.pdf
!docs/**/*.docx
!docs/**/*.png
